<!doctype html>
<html>
<head>
<title>Yarn Size Calculator</title>
</head>
<body>
<form action="/calculate">
<label for="fiber">Fiber</label>
<select name="fiber">
	<option value="cotton">Cotton</option>
	<option value="linen">Linen</option>
	<option value="silk">Silk</option>
	<option value="wool">Wool</option>
</select><br/>
<label for="weight">Weight</label>
<input type="text" name="weight"/>
<select name="weightunit">
	<option value="g">Grams</option>
	<option value="kg">Kilograms</option>
	<option value="oz">Ounces</option>
	<option value="lb">Pounds</option>
</select>
<br/>
<label for="length">Length</label>
<input type="text" name="length"/>
<select name="lengthunit">
	<option value="m">Meters</option>
	<option value="yd">Yards</option>
</select><br/>
<label for="plies">Plies</label>
<input type="text" name="plies"/><br/>
<input type="submit" value="Submit"/>
</form>
<div>
This site's code is available on <a href="https://github.com/maco/yarncalc">GitHub</a>.
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59363536-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
